{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 1 version",
            "ie >= 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-object-assign"
    ]
  ]
}