.repo {
    position: relative;
    padding-top: 40px;
    text-align: center;
    box-sizing: border-box;

    &[aria-expanded="true"] {
        height: 246px;

        .btn-toggle span:before {
            margin-top: -3px;
            transform: rotate(225deg);
        }
    }

    .btn-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border: solid 1px #ccc;
        background-color: #fff;
        border-radius: 8px;
        transition: border .2s;

        &:hover {
            border-color: #9e9e9e;
        }

        span {
            font-size: 0;

            &:before {
                @include triangle(8, "#333");
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -7px 0 0 -4px;
                transform: rotate(45deg);
            }
        ;
        }
    }

    &-avatar {
        overflow: hidden;
        display: inline-flex;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 100px;

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    &-title {
        padding: 0 20px;
        margin-top: 10px;

        a {
            @include line-clamp(1);
            font-size: 16px;
            color: #333;
        }
    }

    &-desc {
        @include line-clamp(1);
        padding: 0 20px;
        margin-top: 5px;
        font-size: 14px;
        color: #8e8e8e;
    }

    &-search {
        padding: 0 10px;
        margin-top: 10px;

        .input-search {
            display: block;
            position: relative;
            width: 100%;
            height: 30px;
            padding: 0 5px;
            border-radius: 8px;
            border: solid 1px #ccc;
            background-color: #fff;
            box-sizing: border-box;
            font-size: 14px;

            &::placeholder {
                font-size: 12px;
            }
        }

        input[type="search"]::-ms-clear,
        input[type="search"]::-ms-reveal {
            appearance: none;
            position: absolute;
            right: 5px;
            top: 50%;
            width: 15px;
            height: 15px;
            background: url("#{$clear}");
            transform: translateY(-50%);
            cursor: pointer;
        }

        input::-webkit-search-decoration,
        input::-webkit-search-cancel-button,
        input::-webkit-search-results-button,
        input::-webkit-search-results-decoration {
            appearance: none;
            position: absolute;
            right: 5px;
            top: 50%;
            width: 15px;
            height: 15px;
            background: url("#{$clear}");
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}