$font: -apple-system, BlinkMacSystemFont, Noto Sans KR, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
$mobile: (max-width: 420px);
$land: (orientation: landscape);
$pad: (device-width: 768px) and (device-height: 1024px);
$clear: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.76 511.76'%3E%3Cpath fill='%23cccccc' d='M436.896 74.869c-99.84-99.819-262.208-99.819-362.048 0-99.797 99.819-99.797 262.229 0 362.048 49.92 49.899 115.477 74.837 181.035 74.837s131.093-24.939 181.013-74.837c99.819-99.818 99.819-262.229 0-362.048zm-75.435 256.448c8.341 8.341 8.341 21.824 0 30.165a21.275 21.275 0 01-15.083 6.251 21.277 21.277 0 01-15.083-6.251l-75.413-75.435-75.392 75.413a21.348 21.348 0 01-15.083 6.251 21.277 21.277 0 01-15.083-6.251c-8.341-8.341-8.341-21.845 0-30.165l75.392-75.413-75.413-75.413c-8.341-8.341-8.341-21.845 0-30.165 8.32-8.341 21.824-8.341 30.165 0l75.413 75.413 75.413-75.413c8.341-8.341 21.824-8.341 30.165 0 8.341 8.32 8.341 21.824 0 30.165l-75.413 75.413 75.415 75.435z'/%3E%3C/svg%3E";

@function vw($val) {
    @return $val / 750 * 100vw;
}

@function rem($val) {
    @return ($val / 2) * .1 + rem;
}

@function px($val) {
    @return $val * 1px;
}

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin ir {
    overflow: hidden;
    position: absolute;
    border: 0;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

@mixin line-clamp($val) {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
}

@mixin triangle($size, $color) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 #{$size}px #{$size}px;
    border-color: transparent transparent #{$color} transparent;
}

@mixin gradient($size) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: #{$size}px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ffffff", GradientType=0);
}