<div class="listTitleWrap">
    <h2>다낭<span class="listCount">(2,334,233)</span></h2>
    <div class="listKeywordWrapper">
      <div class="listKeyword">‘<strong>다낭</strong>’으로 검색한 결과입니다. ‘<span>ekskd</span>’으로 검색하시겠습니까?</div>
      <a href="#" class="linkAnotherKeyword">ekskd 검색결과 보기</a>
    </div>
  <div class="listSortWrap">
    <% var listSort = ['인기순', '평점순', '낮은 요금순', '리뷰 많은순']; %>
    <ul>
      <% listSort.map((s, i) => { %>
        <li class="<%= i === 0 ? 'active' : '' %>">
          <button type="button"><%= s %><span>정렬</span></button>
        </li>
      <% }); %>
    </ul>
  </div>
  <%- include('./_filterList'); %>
</div>
